apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ##TF_VAR_prefix##-ui-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2   
    # nginx.ingress.kubernetes.io/affinity: "cookie"   
    # nginx.ingress.kubernetes.io/session-cookie-path: "/"    
{%- if tls == "new_http_01" %}  
    cert-manager.io/issuer: "letsencrypt-prod"
    # Logs: 
    # - kubectl get certificate
    # - kubectl get certificaterequest
    # - kubectl describe issuer letsencrypt-prod   
    external-dns.alpha.kubernetes.io/hostname: ##TF_VAR_dn_name##
    # Logs: kubectl logs external-dns-xxxx
{%- endif %}    
spec:
  ingressClassName: nginx
{%- if tls == "new_http_01" %}     
  tls:
  - hosts:
    - ##TF_VAR_dn_name##
    secretName: ##TF_VAR_prefix##-tls-secret  
  rules:
    - host: ##TF_VAR_dn_name##
      http:
{%- else %}    
  rules:
    - http:
{%- endif %}    
        paths:
          - path: /##TF_VAR_prefix##(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: ##TF_VAR_prefix##-ui-service
                port:
                  number: 80
